--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/newsclips/70988/hardsubs.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/newsclips/70988/hardsubs.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Tue, 19 Jun 2012 02:39:55 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/newsclips/70988/hardsubs.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"d0c5e50eeb35c4accf25b06722118fbb\""
    body: 
      encoding: US-ASCII
      string: "{\"res-240p\":{\"en\":\"http://video1.viki.com/hardsubs/70988/1/70988_en_240p.mp4\",\"vi\":\"http://video1.viki.com/hardsubs/70988/1/70988_vi_240p.mp4\",\"id\":\"http://video1.viki.com/hardsubs/70988/1/70988_id_240p.mp4\"}}"
  recorded_at: Tue, 19 Jun 2012 02:39:56 GMT
recorded_with: VCR 2.2.1
