--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/newsclips/64488/subtitles/en.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/newsclips/64488/subtitles/en.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Tue, 19 Jun 2012 02:39:51 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/newsclips/64488/subtitles/en.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"603b616d09367f328f4cfdd51e7ac078\""
    body: 
      encoding: US-ASCII
      string: "{\"language_code\":\"en\",\"subtitles\":[{\"content\":\"Presented by Show East Produced by Ozone Film / Fine Works\",\"start_time\":30830,\"end_time\":33230},{\"content\":\"Producer KIM Sang-o, KIM Min-ki\",\"start_time\":40073,\"end_time\":42541},{\"content\":\"Executive Producer KIM Dong-joo\",\"start_time\":44244,\"end_time\":46872},{\"content\":\"Oh Mi-hee Seo Young-hee\",\"start_time\":63196,\"end_time\":65528},{\"content\":\"- What did you make? - A crown.\",\"start_time\":68368,\"end_time\":72172},{\"content\":\"- it's very pretty. - I made it for you.\",\"start_time\":72172,\"end_time\":76040},{\"content\":\"- Mrs. PARK! - Go on, keep [...]
