--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/movies/70436.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/movies/70436.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Thu, 14 Jun 2012 09:44:02 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/movies/70436.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"a9ce6ce64faa6d3c2fb2a235c4578ab6\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":70436,\"title\":\"Muoi: The Legend of a Portrait\",\"description\":\"Yoon Hee, a South Korean writer, travels to Vietnam to research a local legend for her second book. Her best friend, who lives in Vietnam, tells her about the legend of Muoi, a beautiful girl who lived 100 years ago. Horribly disfigured by a jealous rival, Muoi committed suicide and returned as a spirit to seek vengeance. Muoi\\u2019s spirit is supposed to be trapped inside of her portrait, but as Yun Hee researches the legend for her book, she discovers that the spirit may be on the loose.\",\"created_at\":\"May 02, 2012 06:44\",\"uri\":\"http://www.viki.com/api/v3/movies/70436.json\",\"genres\":[{\"id\":12,\"name\":\"Horror & Supernatural\"}],\"origin_country\":\"Korea\",\"image\":\"http://m3.viki.com/aHR0cDovL2MyLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvODA1Mi81Mjc5N2E4ODBkMTljZTRhZjY3NTRiY2JlYjJkYWUyYTQwODE3YWRlLmpwZw==\",\"subtitles\":{},\"formats\":{\"flash_embed\":\"http://a2.vikiassets.com/1339658368/swfs/vikiplayer.swf?media_id=70436&host=www.viki.com&auto_play=true&source=api_v3&language_codes=en\",\"m3u8\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/70436/ios.m3u8\",\"res-150p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/70436_mp4cell_150.mp4\",\"res-240p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/70436_240p.mp4\",\"res-270p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/70436_270p.mp4\",\"res-360p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/70436_360p.mp4\",\"res-480p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/70436_480p.mp4\",\"res-720p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/2/70436_720p.mp4\"}}"
  recorded_at: Thu, 14 Jun 2012 09:44:02 GMT
recorded_with: VCR 2.2.1
