--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/movies/21713/subtitles/en.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/movies/21713/subtitles/en.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Mon, 18 Jun 2012 03:19:49 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/movies/21713/subtitles/en.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"5d60bb75035992023211d09101c13236\""
    body: 
      encoding: US-ASCII
      string: "{\"language_code\":\"en\",\"subtitles\":[{\"content\":\"Five Senses of Eros\",\"start_time\":33898,\"end_time\":40039},{\"content\":\"W h y   t h e r e ?\",\"start_time\":40039,\"end_time\":42975},{\"content\":\"Why Can't it be a romantic place?\",\"start_time\":42975,\"end_time\":47179},{\"content\":\"It's Friday night and the traffic is bumper to bumper.\",\"start_time\":48114,\"end_time\":52918},{\"content\":\"It had to be downtown during rush hour?\",\"start_time\":52918,\"end_time\":58791},{\"content\":\"So we could come up with excuses . . .\",\"start_time\":58791,\"end_time\":62461},{\"content\":\"[...]
