--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/series/50/episodes/509/subtitles/en.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/series/50/episodes/509/subtitles/en.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Mon, 18 Jun 2012 07:24:57 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/series/50/episodes/509/subtitles/en.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"e94dba2ae139c5f270e254497ebcdd1d\""
    body: 
      encoding: US-ASCII
      string: "{\"language_code\":\"en\",\"subtitles\":[{\"content\":\"The Shinwha group was selected as the biggest  sponsor for the 2012 olympics ..\",\"start_time\":4840,\"end_time\":8886},{\"content\":\"In the middle of a global financial crisis . . .\",\"start_time\":8886,\"end_time\":11789},{\"content\":\"Since the  start of the Korean economic development\",\"start_time\":11789,\"end_time\":14146},{\"content\":\"a single company has held the highest ranking\",\"start_time\":14146,\"end_time\":16784},{\"content\":\"with its ever continuous growth.\",\"start_time\":16784,\"end_time\":19143},{\"content\":\"It has finally been established in the international market as a world-class company.\",\"start_time\":19143,\"end_time\":22909},{\"content\":\"That company is  Shinhwa.\",\"start_time\":23476,\"end_time\":25365},{\"content\":\"From electronics,  oil refining and automobiles,<br>to delivery, and telecommunications,\",\"start_time\":27220,\"end_time\":31280},{\"content\":\"even if you're a Korean who  doesn't know the President's name,\",\"start_time\":31280,\"end_time\":34735},{\"content\":\"you would definitely have come across the words \\\"ShinHwa.\\\"\",\"start_time\":34735,\"end_time\":37756},{\"content\":\"It is  a massive empire; a model Korean conglomerate.\",\"start_time\":37756,\"end_time\":42061},{\"content\":\"The day ShinHwa achieved an unprecedented $10 bi[...]
