--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/series/50/episodes/509.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/series/50/episodes/509.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Mon, 18 Jun 2012 06:42:55 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/series/50/episodes/509.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"dd4b0c91c8f186318e683f18b4d91e14\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":509,\"language_code\":\"ko\",\"number\":1,\"title\":\"Episode 1\",\"description\":null,\"created_at\":\"March 17, 2008 15:32\",\"image\":\"http://m3.viki.com/aHR0cDovL2MwLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvbWVkaWFfcmVzb3VyY2UvdGh1bWJuYWlsLzQ0Njk5LzZjMmFmODQxNmY3YWM1MzdhYWMzODJmYTJjZWQ4MmMwMzVlMzIyNjAuanBn\",\"uri\":\"http://www.viki.com/api/v3/series/50/episodes/509.json\",\"subtitles\":{\"fa\":99,\"ar\":99,\"vi\":99,\"bn\":99,\"tr\":99,\"no\":99,\"th\":99,\"pl\":99,\"cs\":99,\"tl\":99,\"nl\":99,\"en\":99,\"fi\":99,\"fr\":99,\"ms\":99,\"de\":99,\"el\":99,\"ro\":99,\"pt\":99,\"es\":99,\"sl\":99,\"hu\":99,\"id\":99,\"it\":99,\"ja\":99,\"sk\":99,\"ru\":99,\"sv\":99,\"ko\":98,\"gl\":95,\"mn\":92,\"he\":85,\"zh\":69,\"bg\":57,\"sq\":49,\"da\":36,\"cy\":29,\"hi\":18,\"ku\":15,\"jv\":7,\"ps\":6,\"my\":6,\"lt\":2,\"br\":2,\"sr\":2,\"ne\":2,\"ta\":2,\"gu\":1,\"to\":1,\"hm\":1,\"ur\":1,\"az\":1,\"nn\":1},\"series\":{\"id\":50,\"uri\":\"http://www.viki.com/api/v3/series/50.json\"},\"formats\":{\"flash_embed\":\"http://a3.vikiassets.com/1339812536/swfs/vikiplayer.swf?video_id=44699&host=www.viki.com&auto_play=true&source=api_v3&language_codes=en&partner=13\",\"m3u8\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/hlsv/boysflower/546_boysflower_1/ios.m3u8\",\"res-150p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/boysflower/546_boysflower_1_mp4cell_150.mp4\",\"res-240p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/boysflower/0_boysflower_1_240p.mp4\",\"res-270p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/boysflower/0_boysflower_1_270p.mp4\",\"res-360p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/boysflower/0_boysflower_1_360p.mp4\",\"res-480p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/boysflower/0_boysflower_1_480p.mp4\"}}"
  recorded_at: Mon, 18 Jun 2012 06:42:56 GMT
recorded_with: VCR 2.2.1
