--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/series.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&genre=2
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/series.json?genre=2&access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Fri, 15 Jun 2012 08:13:37 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/series.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&genre=2
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"2288d687e8e41b2cf3e394a2cc5abfdb\""
    body: 
      encoding: US-ASCII
      string: "{\"count\":41,\"pagination\":{\"previous\":\"\",\"next\":\"http://www.viki.com/api/v3/series.json?genre=2&page=2\"},\"response\":[{\"id\":7468,\"title\":\"Leiji Matsumoto's OZMA (\\u30aa\\u30ba\\u30de)\",\"description\":\"The show unfolds on an arid and devastated future Earth and involves the mysterious, giant and moving \\u201cOZMA.\\u201d An epic space opera that entwines exciting sci-fi action and a suspenseful story, Leiji Matsumoto's OZMA tackles the ultimate question of life and its existence through this story.\",\"uri\":\"http://www.viki.com/api/v3/series/7468.json\",\"created_at\":\"March 07, 2012 09:29\",\"genres\":[{\"id\":2,\"name\":\"Anime\"}],\"origin_country\":\"Japan\",\"image\":\"http://m1.viki.com/aHR0cDovL2MyLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvNzQ2OC9lZjU2NzI4MGJhYmEwN2U3YmVkOTgwNTFkZDdkYTJlOGEzZTM3OGVkLmpwZw==\",\"episodes\":{\"count\":6,\"uri\":\"http://www.viki.com/api/v3/series/7468/episodes.json\"},\"subtitles\":{\"tr\":100,\"pt\":100,\"pl\":100,\"cs\":100,\"en\":100,\"fr\":100,\"id\":100,\"ro\":99,\"es\":99,\"zh\":99,\"ru\":97,\"de\":92,\"ar\":1,\"ko\":1,\"af\":1}},{\"id\":7188,\"title\":\"Peeping Life \",\"description\":\"Peeping Life is the 5 minutes sketched series that portray the silliness and weird happenings in every day life conversations. Take a break from the stress of everyday life. Sit back and peep at how people around you live their days. You may enjoy it, laugh and maybe even feel the love. Peeping Life will deliver you fun and cute entertainment to your every day life! \",\"uri\":\"http://www.viki.com/api/v3/series/7188.json\",\"created[...]
