--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/series.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/series.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Fri, 15 Jun 2012 09:20:39 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/series.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"ebaacdcf6c3fecc582234fac4eb60b05\""
    body: 
      encoding: US-ASCII
      string: "{\"count\":315,\"pagination\":{\"previous\":\"\",\"next\":\"http://www.viki.com/api/v3/series.json?page=2\"},\"response\":[{\"id\":8719,\"title\":\"I love Lee Tae Ri\",\"description\":\"Min Soo is a 14-year-old teenager who wakes up one morning to discover that he has been transported into the body of 25-year-old Eun Dong. When he goes to work as an assistant to wealthy heiress Lee Tae Ri, his sweet innocence helps to bring the woman out of her emotional shell after being dumped by her first love. Will Eun Dong be able to discover love in his new identity or will he be able to return to his younger self?\",\"uri\":\"http://www.viki.com/api/v3/series/8719.json\",\"created_at\":\"May 28, 2012 19:45\",\"genres\":[],\"origin_country\":\"Korea\",\"image\":\"http://m2.viki.com/aHR0cDovL2MxLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvODcxOS8yYjlmYzQ5ZDAzYWVkMjBlMzFkMTcwOWE3YWVhNzM3Y2NhMzg4MjkwLnBuZw==\",\"episodes\":{\"count\":10,\"uri\":\"http://www.viki.com/api/v3/series/8719/episodes.json\"},\"subtitles\":{\"en\":60,\"tl\":2,\"ko\":1}},{\"id\":8112,\"title\":\"Ghost\",\"description\":\"Kim Woo Hyun, an elite police detective in the cyber investigation division, goes after criminals who perpetrate crimes online or try to hide their identities in cyberspace. These cyber-criminals can\\u2019t be seen and are hard to pin down, just like a ghost. Even the police force\\u2019s top brain like Woo Hyun will meet his match as he tries to pursue these dangerous and secretive criminals on the Internet. How will he be able to track the shadows that lurk online?\",\"uri\":\"http://www.viki.com/api/v3/series/8112.json\",\"created_at\":\"May 09, 2012 09:13\",\"genres\":[{\"id\":7,\"name\":\"Crime\"}],\"origin_country\":\"Korea\",\"image\":\"http://m1.viki.com/aHR0cDovL2MxLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvODExMi8xOTMyYjM0Y2ExNjA5ZTc2ODJjYmE1OWE5OWExYWE2NzY3MDY3ZmUzLmpwZw==\",\"episodes\":{\"count\":6,\"uri\":\"http://www.viki.com/api/v3/series/8112/episodes.json\"},\"subtitles\":{\"ro\":100,\"en\":100,\"es\":100,\"fr\":100,\"tr\":99,\"bg\":85,\"tl\":71,\"sr\":69,\"pt\":68,\"de\":52,\"id\":41,\"he\":15,\"th\":6,\"ja\":2,\"hm\":1,\"ko\":1}},{\"id\":7823,\"title\":\"Queen In Hyun's Man\",\"description\":\"Choi Hee Jin, an actress in Seoul, is preparing to play the role of a lifetime in a television drama \\u2013 that of Queen In Hyun, who was deposed during the Chosun Dynasty. Fate mysteriously transports Kim Boong Do, a scholar from the Chosun era who supported the reinstatement of the real Queen In Hyun, into the modern-day life of Hee Jin as she is preparing for her career-making role. Can Boong Do help Hee Jin becom[...]
