--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/series.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&platform=mobile&watchable_in=sg
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/series.json?platform=mobile&watchable_in=sg&access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Fri, 15 Jun 2012 08:13:54 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/series.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&platform=mobile&watchable_in=sg
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"7c79c06f94e9e361560b71975fdbe82a\""
    body: 
      encoding: US-ASCII
      string: "{\"count\":117,\"pagination\":{\"previous\":\"\",\"next\":\"http://www.viki.com/api/v3/series.json?page=2&platform=mobile&watchable_in=sg\"},\"response\":[{\"id\":7687,\"title\":\"Ghar Ki Baat Hai\",\"description\":\"What can you do when your wife\\u2019s family moves in and causes nothing but trouble? For Rajdeep Yagnik, daily life is a little more aggravating because his wife\\u2019s brother lives with them in Mumbai and does nothing all day except find ways to amuse himself. The freeloader seems to get into some kind of mess that requires Rajdeep to fix and clean up. How much longer can he take this craziness?\",\"uri\":\"http://www.viki.com/api/v3/series/7687.json\",\"created_at\":\"March 30, 2012 05:35\",\"genres\":[{\"id\":6,\"name\":\"Comedy\"}],\"origin_country\":\"India\",\"image\":\"http://m3.viki.com/aHR0cDovL2MwLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvNzY4Ny84YWNlZDQ1YzE0ZmYxYTRjNDgwMmYzYWVhOTNkYmZmZWMyZjQ5YTRkLnBuZw==\",\"episodes\":{\"count\":29,\"uri\":\"http://www.viki.com/api/v3/series/7687/episodes.json\"},\"subtitles\":{}},{\"id\":7630,\"title\":\"The Show 2\",\"description\":\"A place where you can come across music trends first. It's a place where your body can feel every beat and rhythm. It's a music program produced on the concept of a club!\\r\\nA stage is an actual club in Korea where Korea's club culture and the latest KPop groove can be experienced first-hand! In addition to the MC's, the program focuses on the DJ, who will lead the show with a party ambiance, where everyone and anyone can enjoy all the latest beats.\",\"uri\":\"http://www.viki.com/api/v3/series/7630.json\",\"created_at\":\"March 23, 2012 08:18\",\"genres\":[{\"id\":21,\"name\":\"Variety Show\"}],\"origin_country\":\"Korea\",\"image\":\"http://m0.viki.com/aHR0cDovL2MzLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvNzYzMC82ZjUxNzRlMGFhYzNiYjcyYzA3OWZkYjU1MjQwYmVjM2FlMTkyZTA5LmpwZw==\",\"episodes\":{\"count\":8,\"uri\":\"http://www.viki.com/api/v3/series/7630/episodes.json\"},\"subtitles\":{\"es\":100,\"en\":96,\"fr\":96,\"it\":96,\"no\":96,\"tr\":68,\"nl\":27,\"pl\":27,\"de\":20,\"ko\":3,\"th\":1,\"vi\":1}},{\"id\":7553,\"title\":\"Showbiz - Taiwanese Entertainment News\",\"description\":\"Get the latest news about celebrities, the music scene and all things having to do with the entertainment industry in this one-hour daily entertainment news show. \\u201cShowbiz\\u201d is one of the longest-running Taiwanese entertainment news programs. It is hosted by Sukie Chung and two members of the popular Taiwanese hip hop group Da Mouth: rapper MC40 and male vocalist Harry.\",\"uri\":\"http://www.viki.com/api/v3/series/7553.json\",\"created_at\":\"March 14, 2012 11:01\",\"genres\":[{\"id\":10,\"name\":\"Entertainment\"}],\"origin_country\":\"Taiwan\",\"image\":\"http://m0.viki.com/aHR0cDovL2MyLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvNzU1My85NDM2OTlmNTZkMGIwY2YxN2RjN2UyNjMyMzMzYmMxMDAzOWY0YThlLmpwZw==\",\"episodes\":{\"count\":71,\"uri\":\"http://www.viki.com/api/v3/series/7553/episodes.json\"},\"subtitles\":{\"en\":96,\"es\":55,\"fr\":31,\"it\":2,\"zh\":1,\"tr\":1}},{\"id\":7468,\"title\":\"Leiji Matsumoto's OZMA (\\u30aa\\u30ba\\u30de)\",\"description\":\"The show unfolds on an arid and devastated future Earth and involves the mysterious, giant and moving \\u201cOZMA.\\u201d An epic space opera that entwines exciting sci-fi action and a suspenseful story, Leiji Matsumoto's OZMA tackles the ultimate question of life and its existence through this story.\",\"uri\":\"http://www.viki.com/api/v3/series/7468.json\",\"created_at\":\"March 07, 2012 09:29\",\"genres\":[{\"id\":2,\"name\":\"Anime\"}],\"origin_country\":\"Japan\",\"image\":\"http://m3.viki.com/aHR0cDovL2MwLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvNzQ2OC9lZjU2NzI4MGJhYmEwN2U3YmVkOTgwNTFkZDdkYTJlOGEzZTM3OGVkLmpwZw==\",\"episodes\":{\"count\":6,\"uri\":\"http://www.viki.com/api/v3/series/7468/episodes.json\"},\"subtitles\":{\"tr\":100,\"pt\":100,\"pl\":100,\"cs\":100,\"en\":100,\"fr\":100,\"id\":100,\"ro\":99,\"es\":99,\"zh\":99,\"ru\":97,\"de\":92,\"ar\":1,\"ko\":1,\"af\":1}},{\"id\":7371,\"title\":\"Wheesung : It's Real Concert\",\"description\":\"Wheesung's 'It's Real' concert goes behind the scenes of the making of this movie-concert, from planning meetings to rehearsals, and even let's us in on his trivial daily life at home. He not only reveals himself as a singer, but as a lyricist and just an ordinary man. Let's take an exclusive first look at what Wheesung's everyday life is like and get to know the REAL Wheesung! \",\"uri\":\"http://www.viki.com/api/v3/s[...]
