--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/series.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&subtitle_language=fr
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/series.json?subtitle_language=fr&access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Fri, 15 Jun 2012 08:13:40 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/series.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&subtitle_language=fr
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"dbf9f3bd34e6ea38edc673ac5a852587\""
    body: 
      encoding: US-ASCII
      string: "{\"count\":2119,\"pagination\":{\"previous\":\"\",\"next\":\"http://www.viki.com/api/v3/series.json?page=2&subtitle_language=fr\"},\"response\":[{\"id\":8112,\"title\":\"Ghost\",\"description\":\"Kim Woo Hyun, an elite police detective in the cyber investigation division, goes after criminals who perpetrate crimes online or try to hide their identities in cyberspace. These cyber-criminals can\\u2019t be seen and are hard to pin down, just like a ghost. Even the police force\\u2019s top brain like Woo Hyun will meet his match as he tries to pursue these dangerous and secretive criminals on the Internet. How will he be able to track the shadows that lurk online?\",\"uri\":\"http://www.viki.com/api/v3/series/8112.json\",\"created_at\":\"May 09, 2012 09:13\",\"genres\":[{\"id\":7,\"name\":\"Crime\"}],\"origin_country\":\"Korea\",\"image\":\"http://m0.viki.com/aHR0cDovL2MwLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvODExMi8xOTMyYjM0Y2ExNjA5ZTc2ODJjYmE1OWE5OWExYWE2NzY3MDY3ZmUzLmpwZw==\",\"episodes\":{\"count\":6,\"uri\":\"http://www.viki.com/api/v3/series/8112/episodes.json\"},\"subtitles\":{\"ro\":100,\"en\":100,\"es\":100,\"fr\":100,\"tr\":99,\"bg\":85,\"tl\":71,\"sr\":69,\"pt\":68,\"de\":52,\"id\":41,\"he\":15,\"th\":6,\"ja\":2,\"hm\":1,\"ko\":1}},{\"id\":8112,\"title\":\"Ghost\",\"description\":\"Kim Woo Hyun, an elite police detective in the cyber investigation division, goes after criminals who perpetrate crimes online or try to hide their identities in cyberspace. These cyber-criminals can\\u2019t be seen and are hard to pin down, just like a ghost. Even the police force\\u2019s top brain like Woo Hyun will meet his match as he tries to pursue these dangerous and secretive criminals on the Internet. How will he be able to track th[...]
