--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/newsclips.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/newsclips.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Tue, 19 Jun 2012 02:06:26 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/newsclips.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"e60511511014ec07c9281410c5aef96c\""
    body: 
      encoding: US-ASCII
      string: "{\"count\":4109,\"pagination\":{\"previous\":\"\",\"next\":\"http://www.viki.com/api/v3/newsclips.json?page=2\"},\"response\":[{\"id\":71969,\"title\":\"First Video of Jack Osbourne Since Revealing Multiple Sclerosis Diagnosis\",\"description\":\"First video of Jack Osbourne since revealing he's been diagnosed with multiple sclerosis.\",\"uri\":\"http://www.viki.com/api/v3/newsclips/71969.json\",\"created_at\":\"June 18, 2012 20:16\",\"origin_country\":\"United States\",\"image\":\"http://m1.viki.com/aHR0cDovL2MwLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvbWVkaWFfcmVzb3VyY2UvdGh1bWJuYWlsLzE5MDY0NS81N2QxNTA1OTc1ZWM1NDg4N2NmN2Y4YjA2Y2QzNGYyMWUxM2Y5OGRiLmpwZw==\",\"newscast\":{\"id\":3451,\"uri\":\"http://www.viki.com/api/v3/newscasts/3451.json\"},\"formats\":{\"flash_embed\":\"http://a3.vikiassets.com/1339812536/swfs/vikiplayer.swf?video_id=190645&host=www.viki.com&auto_play=true&source=api_v3&language_codes=en&partner=13\",\"m3u8\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/splash/20120618/SPL407576/ios.m3u8\",\"res-360p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/splash/20120618/SPL407576_360p.mp4\",\"res-480p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/splash/20120618/SPL407576_480p.mp4\"}},{\"id\":71968,\"title\":\"Kim Kardashian Trumps Deep Depression\",\"description\":\"After Kim Kardashian tells Oprah she suffered a deep depression for months after her divorce, it's clear that the reality TV star has bounced back to a much happier self.\",\"uri\":\"http://www.viki.com/api/v3/newsclips/71968.json\",\"created_at\":\"June 18, 2012 19:21\",\"origin_country\":\"United States\",\"image\":\"http://m[...]
