--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/artists/834/music_videos.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&subtitle_language=fr
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/artists/834/music_videos.json?subtitle_language=fr&access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Mon, 18 Jun 2012 09:32:07 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/artists/834/music_videos.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&subtitle_language=fr
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"98fd9a6208e62a47dd16929fac199630\""
    body: 
      encoding: US-ASCII
      string: "{\"count\":1,\"pagination\":{\"previous\":\"\",\"next\":\"\"},\"response\":[{\"id\":69167,\"title\":\"ROLY-POLY (MV)\",\"description\":null,\"uri\":\"http://www.viki.com/api/v3/music_videos/69167.json\",\"created_at\":\"May 15, 2012 08:19\",\"origin_country\":\"Korea\",\"image\":\"http://m2.viki.com/aHR0cDovL2MwLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvbWVkaWFfcmVzb3VyY2UvdGh1bWJuYWlsLzE4NTgwNS8yNGFjOGE0ODQ5ZmI1MmZlMDNmNDk2NjlkYTZlMTUzNWQ5MzZhNDZjLnBuZw==\",\"artist\":{\"id\":834,\"uri\":\"http://www.viki.com/api/v3/artists/834.json\",\"name\":\"T-ara\"},\"formats\":{\"flash_embed\":\"http://a3.vikiassets.com/1339812536/swfs/vikiplayer.swf?media_id=69167&host=www.viki.com&auto_play=true&source=api_v3&language_codes=en&partner=13\",\"m3u8\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/69167/ios.m3u8\",\"res-150p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/69167_mp4cell_150.mp4\",\"res-240p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/69167_240p.mp4\",\"res-270p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/69167_270p.mp4\",\"res-360p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/69167_360p.mp4\",\"res-480p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/69167_480p.mp4\",\"res-720p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/2/69167_720p.mp4\"}}]}"
  recorded_at: Mon, 18 Jun 2012 09:32:08 GMT
recorded_with: VCR 2.2.2
