--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/movies.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&genre=2
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/movies.json?genre=2&access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Fri, 15 Jun 2012 06:34:36 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/movies.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&genre=2
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"b33cd84c0f464af2e5150c049a049505\""
    body: 
      encoding: US-ASCII
      string: "{\"count\":9,\"pagination\":{\"previous\":\"\",\"next\":\"\"},\"response\":[{\"id\":70402,\"title\":\"Yonna in the Solitary Fortress\",\"description\":\"Yonna, a girl with incredible powers, has been living in a deserted \\\"solitary fortress\\\" alone with her only brother Stan, her heart shut from the world. Stan had desperately protected Yonna from those who come seeking her mysterious power until one day, a boy approached the solitary fortress. Stan tries to kill this boy like all others before him, but the boy tries to take Yonna out of the fortress regardless of his own safety. \",\"created_at\":\"February 16, 2012 05:44\",\"uri\":\"http://www.viki.com/api/v3/movies/70402.json\",\"genres\":[{\"id\":2,\"name\":\"Anime\"}],\"origin_country\":\"Japan\",\"image\":\"http://m0.viki.com/aHR0cDovL2MwLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvNzE4OS8xNmU5YTE3MTRjYTBhNjg5YjE2ZTg3Y2U3MWY3ZmI4NWMxY2YzM2ViLmpwZw==\",\"subtitles\":{},\"formats\":{\"flash_embed\":\"http://a2.vikiassets.com/1339658368/swfs/vikiplayer.swf?media_id=70402&host=www.viki.com&auto_play=true&source=api_v3&language_codes=en\",\"m3u8\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/70402/ios.m3u8\",\"res-150p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/70402_mp4cell_150.mp4\",\"res-240p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/70402_240p.mp4\",\"res-270p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/70402_270p.mp4\",\"res-360p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/70402_360p.mp4\",\"res-480p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/1/70402_480p.mp4\",\"res-720p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/2/70402_720p.mp4\"}},{\"id\":63303,\"title\":\"PLANZET\",\"description\":\"Life as we know it on Earth changed forever in the year 2047 when an alien life form attacked and wiped out most of the major cities and half of the human population. The survivors have united to form a joint army called the Planet Defense Force Alliance and erect an atmospheric shield to protect themselves from future attacks. But can they risk everything to lower the shield to launch an offensive counterattack and rid themselves of the alien invaders forever?\",\"created_at\":\"February 16, 2012 05:40\",\"uri\":\"http://www.viki.com/api/v3/movies/63303.json\",\"genres\":[{\"id\":2,\"name\":\"Anime\"}],\"origin_country\":\"Japan\",\"image\":\"http://m0.viki.com/aHR0cDovL2MwLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvNzE4Ny9kNTczNjlhNmExMDg4ZDNiN2Q1ODhiYTFkMzVkODdmYTE4ZDIzOGE2LmpwZw==\",\"subtitles\":{\"en\":100,\"tr\":6},\"formats\":{\"flash_embed\":\"http://a2.vikiassets.com/1339658368/swfs/vikiplayer.swf?video_id=173252&host=www.viki.com&auto_play=true&source=api_v3&language_codes=en\",\"m3u8\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/hlsv/7187-Planzet/movie/10829_Planzet/ios.m3u8\",\"res-150p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/7187-Planzet/movie/10829_Planzet_mp4cell_150.mp4\",\"res-240p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/7187-Planzet/movie/10829_Planzet[...]
