--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/movies.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&subtitle_language=fr
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/movies.json?subtitle_language=fr&access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Fri, 15 Jun 2012 06:34:38 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/movies.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&subtitle_language=fr
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"bb8b49bc4508c333da41270a5f4578ef\""
    body: 
      encoding: US-ASCII
      string: "{\"count\":18,\"pagination\":{\"previous\":\"\",\"next\":\"\"},\"response\":[{\"id\":63395,\"title\":\"Red Eye\",\"description\":\"A \\u201cred-eye\\u201d train from Yeosu to Seoul is making its final run before it will be retired. Exactly 10 years earlier, the same night train crashed, killing 250 people on board. Many of the passengers on this final voyage have ties to the people who perished on that fateful night. Some of those passengers, as well as supernatural spirits of the dead, seem intent on having history repeat itself on this final ride. Can anyone survive this last train ride?\",\"created_at\":\"February 24, 2012 04:02\",\"uri\":\"http://www.viki.com/api/v3/movies/63395.json\",\"genres\":[{\"id\":12,\"name\":\"Horror & Supernatural\"}],\"origin_country\":\"Korea\",\"image\":\"http://m2.viki.com/aHR0cDovL2MxLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvNzI4OC9jM2EyNDRkOWQzYTRiMTExNjQxYzkxNmE3OTVlNjhmOTMyNjJjODllLmpwZw==\",\"subtitles\":{\"ar\":100,\"en\":100,\"fr\":100,\"es\":99,\"el\":31,\"tr\":13,\"de\":3,\"tl\":1,\"ko\":1},\"formats\":{\"flash_embed\":\"http://a2.vikiassets.com/1339658368/swfs/vikiplayer.swf?media_id=63395&host=www.viki.com&auto_play=true&source=api_v3&language_codes=en\",\"m3u8\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/hlsv/7288-red-eye/movie/10784_Red-Eye/ios.m3u8\",\"res-150p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/7288-red-eye/movie/10784_Red-Eye_mp4cell_150.mp4\",\"res-240p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/7288-red-eye/movie/10784_Red-Eye_240p.mp4\",\"res-270p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/7288-red-eye/movie/10784_Red-Eye_270p.mp4\",\"res-360p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/7288-red-eye/movie/10784_Red-Eye_360p.mp4\",\"res-480p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/7288-red-eye/movie/10784_Red-Eye_480p.mp4\",\"res-720p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/63395_720p.mp4\"}},{\"id\":63986,\"title\":\"Love Me Not\",\"description\":\"Julian is a rogue who makes his living by conning rich women out of money. When faced with a huge business debt that could get him killed, he devises a scheme to steal the fortunes of a blind rich heiress by claiming to be her long-lost brother. But will he be able to follow through on his plan or will it backfire on him?\",\"created_at\":\"February 24, 2012 03:53\",\"uri\":\"http://www.viki.com/api/v3/movies/63986.json\",\"genres\":[{\"id\":18,\"name\":\"Romance\"}],\"origin_country\":\"Korea\",\"image\":\"http://m1.viki.com/aHR0cDovL2MzLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvNzI3OS81MzAxZWVkZjIxZjc3ZmU5MmM3YThiZDIyZWFhZjczYmE2MTIzZWE2LmpwZw==\",\"subtitles\":{\"es\":100,\"en\":100,\"fr\":99,\"ro\":52,\"ar\":32,\"tr\":20,\"hm\":16,\"ko\":9,\"id\":1},\"formats\":{\"flash_embed\":\"http://a2.vikiassets.com/1339658368/swfs/vikiplayer.swf?media_id=63986&host=www.viki.com&auto_play=true&source=api_v3&language_codes=en\",\"m3u8\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/hlsv/7279-love-me-not/movie/10776_Love_me_not/ios.m3u8\",\"res-150p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/7279-love-me-not/movie/10776_Love_me_not_mp4cell_150.mp4\",\"res-240p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encode[...]
