--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/music_videos/538/subtitles/en.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/music_videos/538/subtitles/en.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Mon, 18 Jun 2012 09:50:10 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/music_videos/538/subtitles/en.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"0f4af6b709985c6fba70170c4b29e760\""
    body: 
      encoding: US-ASCII
      string: "{\"language_code\":\"en\",\"subtitles\":[{\"content\":\"<i>Brought to you by Temptation of Wife Team @ Viki </i>\",\"start_time\":18144,\"end_time\":23064},{\"content\":\"You bitch!  So, it was you who betrayed us!\",\"start_time\":27899,\"end_time\":32360},{\"content\":\"mmm...mother.\",\"start_time\":32360,\"end_time\":33960},{\"content\":\"Did your father-in-law ask you to spy on me, call him when I play hwatoo?\",\"start_time\":35440,\"end_time\":38560},{\"content\":\"Why?  He said he would give you money for doing the job?\",\"start_time\":38560,\"end_time\":41600},{\"content\":\"it's not like that, mother.\",\"start_time\":41600,\"end_[...]
