--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3//coming_soon/series.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3//coming_soon/series.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Mon, 18 Jun 2012 08:44:52 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3//coming_soon/series.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"9cbac8625aad6264d5cf7c3cd5ad356e\""
    body: 
      encoding: US-ASCII
      string: "{\"count\":1801,\"pagination\":{\"previous\":\"\",\"next\":\"http://www.viki.com/api/v3/coming_soon/series.json?page=2\"},\"response\":[{\"id\":8940,\"title\":\"Raeng Ngao (2012)\",\"description\":null,\"created_at\":\"June 18, 2012 04:33\",\"genres\":[{\"id\":9,\"name\":\"Drama\"}],\"origin_country\":\"Thailand\",\"image\":\"http://m0.viki.com/aHR0cDovL3d3dy52aWtpLmNvbS9pbWFnZXMvY2hhbm5lbF9kZWZhdWx0X21lZGl1bS5wbmc=\"},{\"id\":8933,\"title\":\"When Love Walked In\",\"description\":\"The drama tells the story of how Qin Yu Jiang (played by Calvin Chen) was under orders to look for the chairman's long-lost granddaughter, which he found to be Shen Ya Yin (played by Victoria Song) who is treated like Cinderella in her aunt's home. And what happens next is a romantic love story that makes people laugh and cry.\",\"creat[...]
