--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/music_videos/71584.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/music_videos/71584.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Mon, 18 Jun 2012 06:42:17 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/music_videos/71584.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"7ed34fe143547bfaa5257d786e5fa46f\""
    body: 
      encoding: US-ASCII
      string: "{\"id\":71584,\"title\":\"I Feel Like I'm Dying\",\"description\":null,\"uri\":\"http://www.viki.com/api/v3/music_videos/71584.json\",\"created_at\":\"June 13, 2012 07:04\",\"origin_country\":\"Korea\",\"image\":\"http://m1.viki.com/aHR0cDovL2MxLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvbWVkaWFfcmVzb3VyY2UvdGh1bWJuYWlsLzE5MDAxOC80Yzk4MWQ2OTAxYWJjMWVlNGQ2ODBmZjNkY2E3MjM3MGIzNTk1YTU5LnBuZw==\",\"artist\":{\"id\":8375,\"uri\":\"http://www.viki.com/api/v3/artists/8375.json\",\"name\":\"Kim Dong Hee\"},\"formats\":{\"flash_embed\":\"http://a3.vikiassets.com/1339812536/swfs/vikiplayer.swf?media_id=71584&host=www.viki.com&auto_play=true&source=api_v3&language_codes=en&partner=13\",\"m3u8\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/71584/ios.m3u8\",\"res-150p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/71584_mp4cell_150.mp4\",\"res-240p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/71584_240p.mp4\",\"res-270p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/71584_270p.mp4\",\"res-360p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/71584_360p.mp4\",\"res-480p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/71584_480p.mp4\",\"res-720p\":\"http://wpc.354a.edgecastcdn.net/00354A/videos/encoded/71584_720p.mp4\"}}"
  recorded_at: Mon, 18 Jun 2012 06:42:18 GMT
recorded_with: VCR 2.2.2
