--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/artists.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&origin_country=kr
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/artists.json?origin_country=kr&access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Mon, 18 Jun 2012 07:09:41 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/artists.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&origin_country=kr
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"91a473f97ca9a15e0b1afac24b63a86f\""
    body: 
      encoding: US-ASCII
      string: "{\"count\":248,\"pagination\":{\"previous\":\"\",\"next\":\"http://www.viki.com/api/v3/artists.json?origin_country=kr&page=2\"},\"response\":[{\"id\":8604,\"name\":\"Rhythm King\",\"description\":\"Rhythm King is a South Korean R&B group known for their urban soul sound. Watch the music videos of their songs \\\"Love Song\\\" and \\\"Butterfly\\\". \",\"created_at\":\"May 21, 2012 10:00\",\"uri\":\"http://www.viki.com/api/v3/artists/8604.json\",\"image\":\"http://m3.viki.com/aHR0cDovL2MzLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvODYwNC9kNjEyZDQxZTFiOTc5MDMxZmNkYjNhZGViYTUwODdlNDE3MTI5ZWZlLmpwZw==\",\"origin_country\":\"Korea\",\"roles\":[\"Musician\"],\"music_videos\":{\"count\":0,\"uri\":\"http://www.viki.com/api/v3/artists/8604/music_videos.json\"}},{\"id\":8548,\"name\":\"Yoon Mirae\",\"description\":\"Yoon Mirae, also known as Tasha Reid, is one of the most influential Korean American hip hop artists and is known as the \\u201cQueen of Soul.\\u201d She was born as Natasha Shanta Reid in Portland, Texas, on May 31, 1981, to a Korean mother and an African American father. She debuted at the age of 16 with the R&B group Uptown. She is married to hip hop pion[...]
