--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/artists.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&platform=mobile&watchable_in=sg
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/artists.json?platform=mobile&watchable_in=sg&access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Mon, 18 Jun 2012 07:09:43 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/artists.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&platform=mobile&watchable_in=sg
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"8abf5a9dec1063771937d7a9b300698d\""
    body: 
      encoding: US-ASCII
      string: "{\"count\":31,\"pagination\":{\"previous\":\"\",\"next\":\"http://www.viki.com/api/v3/artists.json?page=2&platform=mobile&watchable_in=sg\"},\"response\":[{\"id\":8548,\"name\":\"Yoon Mirae\",\"description\":\"Yoon Mirae, also known as Tasha Reid, is one of the most influential Korean American hip hop artists and is known as the \\u201cQueen of Soul.\\u201d She was born as Natasha Shanta Reid in Portland, Texas, on May 31, 1981, to a Korean mother and an African American father. She debuted at the age of 16 with the R&B group Uptown. She is married to hip hop pioneer Tiger JK. Watch the music videos of her songs \\u201cGet It In,\\u201d \\u201cMy Time,\\u201d \\u201cBlack Happiness\\u201d and \\u201cGoodbye Sadness, Hello Happiness\\u201d.\",\"created_at\":\"May 16, 2012 12:32\",\"uri\":\"http://www.viki.com/api/v3/artists/8548.json\",\"image\":\"http://m0.viki.com/aHR0cDovL2MxLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvODU0OC9mMjY4MDkwZWYzMDc4ODAyMmVjODQ2NjQzZDIxZWU0N2QxMTMxYzNjLnBuZw==\",\"origin_country\":\"Korea\",\"roles\":[\"Musician\"],\"music_videos\":{\"count\":4,\"uri\":\"http://www.viki.com/api/v3/artists/8548/music_videos.json\"}},{\"id\":8547,\"name\":\"Tiger JK\",\"description\":\"Tiger JK is a highly respected Korean American rapper, considered as one of the true pioneers of hip hop music in Korea. Born as Seo Jung Kwon in Los Angeles, California, he is one of the founding members of the hip hop group Drunken Tiger. He also is the founder and former CEO of Jungle Entertainment. His brand extends to products and clothing. Watch the musi[...]
