--- 
http_interactions: 
- request: 
    method: get
    uri: http://viki.com/api/v3/artists.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&subtitle_language=fr
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 301
      message: Moved Permanently
    headers: 
      Content-Type: 
      - text/plain
      Location: 
      - http://www.viki.com/api/v3/artists.json?subtitle_language=fr&access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70
    body: 
      encoding: US-ASCII
      string: "moved to "
  recorded_at: Mon, 18 Jun 2012 07:09:37 GMT
- request: 
    method: get
    uri: http://www.viki.com/api/v3/artists.json?access_token=1b080a6b3a94ed4503e04e252500ca87f6e7dc55061cec92b627ef1fbec44c70&subtitle_language=fr
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"2151a1bba70846b11a1a631dd15bce86\""
    body: 
      encoding: US-ASCII
      string: "{\"count\":272,\"pagination\":{\"previous\":\"\",\"next\":\"http://www.viki.com/api/v3/artists.json?page=2&subtitle_language=fr\"},\"response\":[{\"id\":8615,\"name\":\"Michelle Branch\",\"description\":\"Michelle Branch is an American singer-songwriter, guitarist and actress known for her folksy country pop songs. Born July 2, 1983, in Phoenix, Arizona, Michelle was part of the country duo The Wreckers with country singer Jessica Harp from 2005 to 2007 but disbanded to continue working as a solo artist. She won a Grammy Award in 2003. Watch the music videos of her hit songs \\u201cGoodbye to You,\\u201d \\u201cAre You Happy Now?\\u201d  \\u201cEverywhere\\u201d and \\u201cAll You Wanted\\u201d.\",\"created_at\":\"May 21, 2012 19:04\",\"uri\":\"http://www.viki.com/api/v3/artists/8615.json\",\"image\":\"http://m2.viki.com/aHR0cDovL2MzLnZpa2lhc3NldHMuY29tL3VwbG9hZHMvY2hhbm5lbC90aHVtYm5haWwvODYxNS84ODIxMWJhYmNhYzc3YjNhMGM1MDBlMWQ3ZjU3YjNkOTg1OTUxNWRkLmpwZw==\",\"origin_country\":\"United States\",\"roles\":[\"Musician\"],\"music_videos\":{\"count\":4,\"uri\":\"http://www.viki.com/api/v3/artists/8615/music_videos.json\"}},{\"id\":8614,\"name\":\"Michael Bubl\\u00e9\",\"description\":\"Michael Bubl\\u00e9 is an Italian-Canadian singer-songwriter known for his smooth jazzy vocals. Born on September 9, 1975, in Burnaby, British Columbia, Michael\\u2019s velvety voice has covered many standard jazz tunes on his successful albums, as well as original songs he helped to write. He has won many Grammy and Juno awards and featured on movi[...]
